In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("rough.csv")

df.drop(["Unnamed: 0"],axis="columns",inplace=True)

In [3]:
df.drop(["Unnamed: 0.1"],axis="columns",inplace=True)
df

,Annual Rental Value,Extent of Site (Sq.Yds),Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,...,Revenue Ward 67.1,Revenue Ward 68.1,Revenue Ward 69.1,Revenue Ward 7.1,Revenue Ward 70.1,Revenue Ward 71.1,Revenue Ward 72.1,Revenue Ward 73.1,Revenue Ward 8.1,Revenue Ward 9.1
0,3323,0.00,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3592,531.65,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10585,0.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9185,79.20,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8725,240.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,3002,493.95,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4516,3481,552.73,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4517,3610,111.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4518,10644,0.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4519,6746,511.35,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
dff=df.copy()
dff

,Annual Rental Value,Extent of Site (Sq.Yds),Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,...,Revenue Ward 67.1,Revenue Ward 68.1,Revenue Ward 69.1,Revenue Ward 7.1,Revenue Ward 70.1,Revenue Ward 71.1,Revenue Ward 72.1,Revenue Ward 73.1,Revenue Ward 8.1,Revenue Ward 9.1
0,3323,0.00,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3592,531.65,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10585,0.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9185,79.20,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8725,240.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,3002,493.95,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4516,3481,552.73,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4517,3610,111.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4518,10644,0.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4519,6746,511.35,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
dff1=dff.sort_values(["Extent of Site (Sq.Yds)","Annual Rental Value"],0).copy()
dff1

C:\Users\anura\AppData\Local\Temp/ipykernel_4556/1257445673.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_values except for the argument 'by' will be keyword-only
  dff1=dff.sort_values(["Extent of Site (Sq.Yds)","Annual Rental Value"],0).copy()

,Annual Rental Value,Extent of Site (Sq.Yds),Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,...,Revenue Ward 67.1,Revenue Ward 68.1,Revenue Ward 69.1,Revenue Ward 7.1,Revenue Ward 70.1,Revenue Ward 71.1,Revenue Ward 72.1,Revenue Ward 73.1,Revenue Ward 8.1,Revenue Ward 9.1
2443,0,0.0,0,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3103,0,0.0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3201,0,0.0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3202,0,0.0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3203,0,0.0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2742,4533,21021.0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2739,4855,21021.0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3575,5090,21021.0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4104,9183,113627.0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3868,12027,113627.0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
dff1.to_csv("rough.csv")

In [13]:
df4=pd.read_csv("unique_records.csv")
df4

,Unnamed: 0,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53231,9195,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0
53232,9196,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0
53233,9197,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0
53234,9198,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0
53235,9199,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0

In [30]:
df4.drop_duplicates(["Assessment Number"],inplace=True)
df4

,Unnamed: 0,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44051,15,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0
44052,16,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0
44053,17,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0
44054,18,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0
44055,19,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0